.layer {
  background-color: rgba(6, 6, 6, 0.438);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

input,
input::placeholder {
  font: 0.9rem/3 sans-serif;
}
body {
  font-family: "Cairo", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Cairo", sans-serif;
}
